/ExpenseTracker/ExpenseTracker.UI/obj
/ExpenseTracker/ExpenseTracker.UI/bin
*.map
/ExpenseTracker/ExpenseTracker.UI/lib.js
/ExpenseTracker/ExpenseTracker.UI/ExpenseTracker/Controllers/*.js
/ExpenseTracker/ExpenseTracker.UI/ExpenseTracker/Abstract/*.js
/ExpenseTracker/ExpenseTracker.UI/ExpenseTracker/*.js
/ExpenseTracker/ExpenseTracker.UI/ExpenseTracker/Directives/*.js
/ExpenseTracker/ExpenseTracker.UI/ExpenseTracker/Directives/Validations/*.js
/ExpenseTracker/ExpenseTracker.UI/ExpenseTracker/Models/*.js
/ExpenseTracker/ExpenseTracker.UI/ExpenseTracker/Services/*.js
/ExpenseTracker/ExpenseTracker.Data/bin
/ExpenseTracker/ExpenseTracker.Data/obj
/ExpenseTracker/ExpenseTracker.Logic.Tests/bin
/ExpenseTracker/ExpenseTracker.Logic.Tests/obj
/ExpenseTracker/ExpenseTracker.Logic/bin
/ExpenseTracker/ExpenseTracker.Logic/obj
/ExpenseTracker/ExpenseTracker.Model/bin
/ExpenseTracker/ExpenseTracker.Model/obj
/ExpenseTracker/ExpenseTracker.UI/obj
/ExpenseTracker/ExpenseTracker.WebAPI.Tests/bin
/ExpenseTracker/ExpenseTracker.WebAPI.Tests/obj
/ExpenseTracker/ExpenseTracker.WebAPI/bin
/ExpenseTracker/ExpenseTracker.WebAPI/obj
/ExpenseTracker/ExpenseTracker.WebAPI/Web.Release.config
/ExpenseTracker/ExpenseTracker.WebAPI/Web.config
/ExpenseTracker/packages
/ExpenseTracker/ExpenseTracker.WebAPI/Properties/PublishProfiles
