/ExpenseTracker/ExpenseTracker.API/obj/Debug
/ExpenseTracker/ExpenseTracker.UI/obj/Debug
/ExpenseTracker/ExpenseTracker.API/bin
/ExpenseTracker/ExpenseTracker.UI/bin
/ExpenseTracker/ExpenseTracker.UI/app/js/ExpenseTracker/Abstract/*.map
*.map
/ExpenseTracker/ExpenseTracker.UI/lib.js
/ExpenseTracker/ExpenseTracker.UI/release.js
/ExpenseTracker/ExpenseTracker.UI/release.min.js
/ExpenseTracker/ExpenseTracker.UI/ExpenseTracker/Controllers/*.js
