/ExpenseTracker/ExpenseTracker.API/obj/Debug
/ExpenseTracker/ExpenseTracker.UI/obj/Debug
/ExpenseTracker/ExpenseTracker.API/bin
/ExpenseTracker/ExpenseTracker.UI/bin
/ExpenseTracker/ExpenseTracker.UI/app/js/ExpenseTracker/Abstract/*.map
*.map
/ExpenseTracker/ExpenseTracker.UI/lib.js
/ExpenseTracker/ExpenseTracker.UI/release.js
/ExpenseTracker/ExpenseTracker.UI/release.min.js
/ExpenseTracker/ExpenseTracker.UI/ExpenseTracker/Controllers/*.js
/ExpenseTracker/ExpenseTracker.UI/ExpenseTracker/Abstract/*.js
/ExpenseTracker/ExpenseTracker.UI/ExpenseTracker/*.js
/ExpenseTracker/ExpenseTracker.UI/ExpenseTracker/Directives/*.js
/ExpenseTracker/ExpenseTracker.UI/ExpenseTracker/Directives/Validations/*.js
/ExpenseTracker/ExpenseTracker.UI/ExpenseTracker/Models/*.js
/ExpenseTracker/ExpenseTracker.UI/ExpenseTracker/Services/*.js
/ExpenseTracker/ExpenseTracker.API/Web.Debug.config
/ExpenseTracker/ExpenseTracker.API/Web.Release.config
/ExpenseTracker/ExpenseTracker.API/Web.config
