<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                <span ng-hide="$controller.isEditing">Add expense</span>
                <span ng-show="$controller.isEditing">Edit expense</span>
                <span class="page-loading" ng-show="$controller.isLoading()">
                    <em>Loading expense</em>
                    <span class="glyphicon glyphicon-cog spinner"></span>
                </span>
                <span class="pull-right btn-group page-actions">
                    <a href="/#/expenses" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-left"></span><span>Back to list</span></a>
                </span>
            </h1>
            <hr />
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <form name="expenseForm" class="form" role="form" novalidate>
                    <fieldset ng-disabled="$controller.isLoading()">
                        <div class="row field">
                            <div class="col-md-6">
                                <label>Description</label>
                                <span class="pull-right" id="description-validation"></span>
                                <input type="text" class="form-control" ng-model="$controller.form.description" placeholder="Description" name="description" required validate="#description-validation" />
                            </div>
                            <div class="col-md-6">
                                <label>Amount</label>
                                <span class="pull-right" id="amount-validation"></span>
                                <input type="number" class="form-control" placeholder="Amount" name="amount" ng-model="$controller.form.amount" required validate="#amount-validation" />
                            </div>
                        </div>
                        <div class="row field">
                            <div class="col-md-6">
                                <div class="field">
                                    <label>Date</label>
                                    <span class="pull-right" id="date-validation"></span>
                                    <custom-datepicker ng-model="$controller.form.date" name="date" validate="#date-validation" required></custom-datepicker>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Tags</label>
                                <span class="pull-right" id="tags-validation"></span>
                                <tags ng-model="$controller.form.tags" source="$controller.tagsSource($query)" name="tags" validate="#tags-validation"></tags>
                            </div>
                        </div>
                        <div class="row field">
                            <div class="col-md-12">
                                <label>Comment</label>
                                <span class="pull-right" id="comment-validation"></span>
                                <textarea name="comment" ng-model="$controller.form.comment" validate="#comment-validation" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="row field">
                            <div class="col-lg-12">
                                <div class="pull-right">
                                    <a href="/#/expenses" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span><span>Cancel</span></a>
                                    <a ng-disabled="expenseForm.$pristine || expenseForm.$invalid || $controller.isLoading()" class="btn btn-success" ng-click="$controller.save()">
                                        <span ng-hide="$controller.isEditing" class="glyphicon glyphicon-plus"></span>
                                        <span ng-hide="$controller.isEditing">Add</span>
                                        <span ng-show="$controller.isEditing" class="glyphicon glyphicon-ok"></span>
                                        <span ng-show="$controller.isEditing">Save</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>