<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                <span>Expenses</span>
                <span class="pull-right btn-group page-actions">
                    <a href="/#/expenses/add" class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span>Add</span>
                    </a>
                </span>
            </h1>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <date-filter source="$controller.expenseDataProvider"></date-filter>
            <tags-filter source="$controller.expenseDataProvider"></tags-filter>
        </div>
        <div class="col-md-9">
            <p class="row">
                <span class="col-md-4 page-loading pull-left" ng-show="$controller.expenseDataProvider.isLoading()">
                    <em>Loading expenses</em>
                    <span class="glyphicon glyphicon-cog spinner"></span>
                </span>
                <grid-text-filter class="pull-right col-md-4" source="$controller.expenseDataProvider" filter-fields="description amount"></grid-text-filter>
            </p>
            <div class="panel panel-default">
                <table class="table table-hover table-striped" ng-class="{ 'loading': $controller.expenseDataProvider.isLoading() }">
                    <tr>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Tags</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="expense in $controller.expenseDataProvider.items">
                        <td>{{ expense.date | date }}</td>
                        <td>{{ expense.date | date:'HH:mm:ss' }}</td>
                        <td>
                            <span class="badge tag" ng-repeat="tag in expense.tags">{{ tag }}</span>
                        </td>
                        <td>{{ expense.amount }}</td>
                        <td>{{ expense.description }}</td>
                        <td class="row-action">
                            <span class="dropdown pull-right" is-open="dropdownOpen">
                                <a class="glyphicon glyphicon-chevron-down pull-right dropdown-toggle"></a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="/#/expenses/edit/{{ expense.id }}"><span class="glyphicon glyphicon-pencil"></span><span>Edit</span></a></li>
                                    <li><a ng-click="dropdownOpen = false; $controller.remove(expense)"><span class="glyphicon glyphicon-remove red"></span><span>Remove</span></a></li>
                                </ul>
                            </span>

                        </td>
                    </tr>
                </table>
            </div>
            <grid-pager source="$controller.expenseDataProvider"></grid-pager>
        </div>
    </div>
</div>