<div class="jumbotron">
    <div class="container">
        <h1>Keep track</h1>
        <p>It's very easy to reach a week from payday and wonder <strong><em>where did all my money go</em></strong>? Avoid this endless cycle and be the one that knows exactly what you spent your hard earned cash on. Register now to start keeping track.</p>
        <p><a class="btn btn-primary btn-lg" href="/#/registration">Register now &raquo;</a></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="/images/tags.png" width="200" class="snip"/>
            <h2>Track your expenses</h2>
            <p>ExpenseTracker.com makes it super easy to track your expenses and be in the know of where your money is going every month.</p>
            <p>Tag your expenses to keep track of related expenses and later filter by those tags.</p>
        </div>
        <div class="col-md-4">
            <img src="/images/period.png" width="200" class="snip" />
            <h2>Easy to use</h2>
            <p>Filter and find your expenses easily with ExpenseTracker.com's very intuitive user interface, allowing you to filter and keep track of your total spending, aswell as your average daily spending.</p>
        </div>
        <div class="col-md-4">
            <img src="/images/export.png" width="200" class="snip" />
            <h2>Export</h2>
            <p>ExpenseTracker.com allows you to export your expenses as CSV should you ever feel like taking your expenses offline to Excel or the like.</p>
        </div>
    </div>
    <hr />
    <footer>
        <p>&copy; Expense Tracker 2014</p>
    </footer>
</div>