<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Expense Tracker</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right" ng-show="$directive.isSignedIn">
                <li><a href="/#/expenses">Expenses</a></li>
                <li>
                    <a class="dropdown-toggle profile-button" data-toggle="dropdown">
                        <span>{{ $directive.profile.name }}</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/#/profile/">
                                <span class="glyphicon glyphicon-user"></span>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-click="$directive.signOut()">
                                <span class="glyphicon glyphicon-log-out"></span>
                                <span>Sign out</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <span class="checking-session" ng-show="$directive.isCheckingSession">
                    <em>Checking your session</em>
                    <i class="glyphicon glyphicon-cog spinner"></i>
                </span>
                <span ng-hide="$directive.isSignedIn || $directive.isCheckingSession">
                    <a class="registration-link" href="/#/registration">Don't have an account?</a>
                    <a class="btn btn-success" href="/#/sign-in">Sign in</a>
                </span>
            </form>
        </div>
    </div>
</div>