<div class="jumbotron">
    <div class="container">
        <h1>Registration</h1>
        <p>Register an account on ExpenceTracker.com now and get access to all features. Free now and free forever.</p>
    </div>
</div>
<div class="container form">
    <form name="registrationForm" novalidate>
        <div class="row">
            <div class="col-lg-6">
                <label>Full name</label>
                <span id="name-validation" class="pull-right"></span>
                <input type="text" class="form-control" placeholder="John Smith" name="name" ng-model="$controller.form.name" required validate="#name-validation" />
            </div>
            <div class="col-lg-6">
                <label>Email address</label>
                <span id="email-validation" class="pull-right"></span>
                <input type="email" class="form-control" placeholder="john.smith@email.com" name="email" ng-model="$controller.form.email" required validate="#email-validation" unique-email />
                <p class="help-block">This will be your username when signing in</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label>Password</label>
                <span id="password-validation" class="pull-right"></span>
                <input type="password" class="form-control" placeholder="P@ssw0rd" name="password" ng-model="$controller.form.password" required validate="#password-validation" complex-password />
            </div>
            <div class="col-lg-6">
                <label>Confirm password</label>
                <span id="confirm-validation" class="pull-right"></span>
                <input type="password" class="form-control" placeholder="P@ssw0rd" name="confirmPassword" ng-model="$controller.form.confirmPassword" required validate="#confirm-validation" validate-watch="$controller.form.password" match="$controller.form.password" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>&nbsp;</p>
                <p class="pull-left">
                    <input type="checkbox" ng-model="$controller.form.acceptTermsAndConditions" required /> <em>(Required)</em> I have read and agree to the Terms and conditions.<br/>
                    <input type="checkbox" ng-model="$controller.form.newsletterSignup" /> <em>(Optional)</em> I would like to recieve the monthly newsletter from ExpenseTracker.com.
                </p>
                <a ng-click="$controller.register()" ng-disabled="registrationForm.$invalid || registrationForm.$pristine" class="btn btn-success pull-right"><i class="glyphicon glyphicon-ok left"></i>Register</a>
            </div>
        </div>
    </form>
</div>