<div class="jumbotron">
    <div class="container">
        <h1>Reset password</h1>
        <p ng-hide="$controller.resetToken">Forgot your password? No problem. Just fill in the form below and we'll email you a reset password link.</p>
    </div>
</div>
<div class="container form">
    <div class="alert alert-danger" ng-show="$controller.resetFailed">
        <p>The reset link is not valid or has expired. Please fill in the reset password form to get a new reset link or contact <a href="mailto:support@expensetracker.co.za">support@expensetracker.co.za</a></p>
    </div>
    <div ng-show="$controller.resetToken && !$controller.resetFailed" class="alert alert-info">
        <p><span class="glyphicon glyphicon-cog spinner"></span> Please wait while we check your reset password link.</p>
    </div>
    <div ng-hide="$controller.resetToken">
        <div ng-show="$controller.requestSent" class="alert alert-success">
            <p>An email has been sent to the specified email address and should show in your inbox soon. Please click the reset link in the email to continue.</p>
        </div>
        <form name="resetPasswordForm" novalidate ng-hide="$controller.requestSent">
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <label>Email address</label>
                        <span class="pull-right" id="email-validation"></span>
                        <input class="form-control" type="email" name="email" ng-model="$controller.form.email" required validate="#email-validation" />
                    </div>
                    <div class="col-md-6">
                        <label>Verify that you are not a bot</label>
                        <span class="pull-right" id="response-validation"></span>
                        <input type="hidden" name="captcha" ng-model="$controller.form.response" validate="#response-validation" required />
                        <captcha challenge="$controller.form.challenge" response="$controller.form.response"></captcha>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a ng-disabled="resetPasswordForm.$invalid || resetPasswordForm.$pristine || $controller.isLoading()" class="btn btn-success pull-right" ng-click="$controller.reset()">
                            <span ng-show="$controller.isLoading()" class="glyphicon glyphicon-cog spinner"></span>
                            <span ng-hide="$controller.isLoading()" class="glyphicon glyphicon-check"></span>
                            <span>Reset</span>
                        </a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>