<div class="container">
    <form name="signInForm" class="form-signin" role="form" novalidate>
        <div class="alert alert-info" ng-show="$controller.sessionExpired">Your session has expired. Please sign in again.</div>
        <h2 class="form-signin-heading">Sign in</h2>
        <input type="email" class="form-control" placeholder="Email address" required autofocus ng-model="$controller.form.email"/>
        <input type="password" class="form-control" placeholder="Password" required ng-model="$controller.form.password"/>
        <button class="btn btn-lg btn-primary btn-block login" type="submit" ng-disabled="signInForm.$invalid || $controller.isLoading()" ng-click="$controller.signIn()">
            <i ng-show="$controller.isLoading()" class="glyphicon glyphicon-cog spinner"></i>
            <span>Sign in</span>
        </button>
    </form>
</div>