body, .btn {
    font-size: 12px;
}

.btn-lg {
    font-size: 18px;
}

.form-control {
    font-size: 12px;
    height: 31px;
}

.registration-link {
    margin-right: 10px;
}

a {
    cursor: pointer;
}

.navbar-form {
    margin-top: 10px;
}

.main-contentainer {
    margin-top: 50px;
}

.jumbotron p {
    font-size: 18px;
}

.help-block {
    font-size: 11px;
    color: #aaa;
}
.form { 
    input[type=radio], input[type=checkbox] {
        margin: 4px 5px 0 0;
    }
}
.btn.btn-lg .glyphicon.left {
    margin-right: 10px;
}

.form-validity .glyphicon.valid {
    color: #419641;
}

.form-validity .glyphicon.invalid {
    color: #c12e2a;
    margin-top: 1px;
}

::-webkit-input-placeholder {
   color: #ddd !important;
}

:-moz-placeholder {
   color: #ddd !important;  
}

::-moz-placeholder {
   color: #ddd !important;  
}

:-ms-input-placeholder {  
   color: #ddd !important;  
} 
.popover {
    font-size: 12px;
    min-width: 150px;
}
.alert-handler {
    position: absolute;
    left: 50%;
    padding-top: 10px;
    z-index: 100;
    .alert {
        padding: 10px 15px;
        margin-bottom: 10px;
    }
}
.profile-button {
    font-weight: bold;
}
.dropdown-menu .divider {
    margin: 5px 0;
}